body{
    background-color:#FFFAF0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#appName {
    color: burlywood;
}

#index-banner {
    background-image: url(img/burke-landing_media-filming-policy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}   
#index-banner-two {
    background-image: url(img/euroradio_film_music_exchange.png);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size:cover;

}
